.map-content{
	background-repeat: no-repeat;
	background-size: cover;
}
.img-content{
	width: 100%;
}
.banner-image-content{
	padding-bottom: 190px !important;
}
.contact-content{
background-color: #fff !important;
}
.video-content{
	margin-top: -200px !important;
}
.color-green1{
	color: rgb(193, 120, 120)!important;
}
.btn-join{
	background-color: #87ae81  !important;
}
.team-section{
	padding-bottom: 50px !important;
}

