@media only screen and (max-width: 600px) {
	.container-logo{
		width: 65px;
	}
	.nav-logo>img {
	    height: 50px !important;
	}
	.header-transparent .xs_nav-portrait .nav-toggle:before{
	    background-color: #313236 !important;
    	box-shadow: 0 0.5em 0 0 #313236, 0 1em 0 0 #313236 !important;
	}
	.kids-logo-header{
		height: 55px !important;
	}
	.kids-zone-btn{
	    right: calc(100% - 78%);
    	top: -5px;
	}
	.first-section-home{
		margin-top: 110px;
	}
	.xs_nav-portrait{
		top: 13px;
	}
	.res-first{
		margin-top: 20px;
	}
	.res-second{
		padding-right: 15px !important;
		margin-top: 15px;
    	margin-bottom: 15px;
	}
	.res-thirth{
		padding-left: 15px !important;
	}
	.xs_nav-portrait .submenu-indicator{
		top: 15px !important;
	}
	.xs-heading .xs-btn-wraper{
		text-align: center !important;
	}
	.xs-pr-20 p{
		margin-left: 0px !important;
	}
	.xs-header{
		height: 75px !important;
	}
	.timeline-list:before{
		left: 0px !important;
	}
	.t-block-teal{
		padding-left: 5px !important;
	}
	.content-time-line{
		padding-left: 5px !important;
	}
	.timeline-list li{
		padding: 10px 2em 0em 2em !important;
	}
	.container-logo-ar{
		right: 20vw !important;
	}
	.kids-zone-btn-ar{
		left: 0px !important;
    	top: 5px !important;
	}
	.white-kids-zone{
		height: 55px !important;
	}
	.white-kids-zone-btn{
		left: 25px !important;
		right: 0px !important;
	}
	.header-transparent .xs_nav-portrait .white-nav-toggle:before{
	    background-color: #fff !important;
    	box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff !important;
	}
	.header-transparent .nav-brand, .xs-box .nav-brand{
		    background-image: none !important;
	}
	.white-logo{
		height: 65px !important;
	}
	.header-transparent .nav-brand, .xs-box .nav-brand{
		margin-top: 10px !important;
	}
	.pt-section-presentation{
		padding: 90px 0 !important;
	}
	.xs-donation-form input:not([type="submit"]), .xs-donation-form select{
		width: 100% !important;
	}
	.block-mission:before{
		top: -20px !important;
	}
	.xs-video-popup-section{
		margin-top: -50px !important;
	}
	.xs-inner-banner-content h2{
		font-size: 35px !important;
	}
	.xs-event-content p{
		margin-top: 20px !important;
	}
	.bkg-re{
		height: 200px !important;
	}
	.xs-service-slider-content h2{
		margin-top: 20px !important;
	}
	.left-descri{
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	.icon-img-small{
		width: 70px !important;
    	height: 70px !important;
	}
	.img-histor img{
		width: 100% !important;
	}
	.xs-fature-causes-deatils{
		padding-left: 0px !important;
	}
	.p-description-first{
		text-align: left !important;
	}
	.list-camp-f{
		display: none !important;
	}
	.list-camp-s{
		display: none !important;
	}
	.list-camp-fo{
		display: none !important;
	}
	.list-camp-fi{
		display: none !important;
	}
	body .nav-menus-wrapper{
		padding-left: 0px !important;
	}
	.header-transparent .nav-menu li a, .xs-box .nav-menu li a{
		white-space: initial !important;
	}
	.xs-text-content{
		width: 100% !important;
	}
	.header-transparent .container-logo-ar .nav-brand, .xs-box .nav-brand {
	    margin-top: 2px !important;
	}
	/* .xs-banner-inner-section{
		padding-bottom: 170px !important; 
	} */
}

@media only screen and (min-width: 600px ) and (max-width: 768px) {
	.header-transparent .xs_nav-portrait .nav-toggle:before{
	    background-color: #313236 !important;
    	box-shadow: 0 0.5em 0 0 #313236, 0 1em 0 0 #313236 !important;
	}
	.xs_nav-portrait{
		top: 30px !important;
	}
	.kids-logo-header{
		height: 70px !important;
	}
	.kids-zone-btn{
	    right: calc(100% - 68%);
    	top: -5px;
	}
	.xs_nav-portrait .submenu-indicator{
		top: 15px !important;
	}
	.xs-header{
		height: 120px !important;
	}
	.container-logo{
		left: 0px !important;
	}
	.logo{
		height: 90px !important;
	}
	.kids-zone-btn-ar{
		left: 0px !important;
    	top: 15px !important;
	}
	.container-logo-ar{
	    right: 10vw !important;
	}
	.white-kids-zone{
		height: 55px !important;
	}
	.white-kids-zone-btn{
		left: 25px !important;
		right: 0px !important;
	}
	.header-transparent .xs_nav-portrait .white-nav-toggle:before{
	    background-color: #fff !important;
    	box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff !important;
	}
	.header-transparent .nav-brand, .xs-box .nav-brand{
		    background-image: none !important;
	}
	.white-logo{
		height: 65px !important;
	}
	.header-transparent .nav-brand, .xs-box .nav-brand{
		margin-top: 20px !important;
	}
	.xs-donation-form input:not([type="submit"]), .xs-donation-form select{
		width: 100% !important;
	}
	.video-content{
	    margin-top: -137px !important;
	}
	body .nav-menus-wrapper{
		padding-left: 0px !important;
	}
	.header-transparent .nav-menu li a, .xs-box .nav-menu li a{
		white-space: initial !important;
	}
	.xs-event-content p {
	    margin-top: 20px !important;
	}
	.bkg-re{
		height: 250px !important;
	}
	.xs-service-slider-content h2 {
	    margin-top: 20px !important;
	}
	.p-description-first{
		text-align: left !important;
	}
	.xs-partner-section{
		padding-top: 20px !important;
	}
	.xs-text-content{
		width: 100% !important;
	}
	
}

@media only screen and (min-width: 992px) {
	.nav-menu-ar{
		right: 23vh;
	}
} 
@media only screen and (max-width: 992px) {
	.container-logo-ar{
	    right: initial !important;
	}
}
