<p>Hello {{user.lastname }} {{ user.firstname }},</p>
<p class="hero">Welcome to Onde</p>
<p>We kindly remind you that you'll need to activate your account.</p>
<p>To do so, please click on the following button</p>
<p class="btnconfirm">
  <a href="{{ url('onde_recoverForgottenPw', { 'email' : user.email }) }}">{{url('onde_recoverForgottenPw', { 'email' : user.email })}}</a>.<br>
</p>
<p class="btnconfirm2">If you don’t know why you got this email, please tell us straight away so we can
  fix this for you.</p>
<hr style="margin-top: 56px">
<p class="mb-0 btnconfirm2">Thanks,</p>
<p class="mb-0 btnconfirm2">onde Team</p>