<style type="text/css">
	#primary-menu ul li a{
		padding: 0 10px !important;
		letter-spacing: 0px !important;
	}
</style>
<header id="header" class="full-header">
	<div id="header-wrap">
		<div class="container clearfix">
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="{{asset('front/images/logo.png')}}" alt="Canvas Logo"></a>
				<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="{{asset('front/images/logo@2x.png')}}" alt="Canvas Logo"></a>
			</div>
			<nav id="primary-menu">
				<ul>
					<li><a href="index.html"><div>Présentation</div></a>
						<ul>
							<li><a href="index-corporate.html"><div>Discours de SA Majesté le ROI Mohamed 6</div></a>
							</li>
							<li><a href="index-portfolio.html"><div>Le phénomène des enfants de la rue</div></a>
							</li>
							<li><a href="index-blog.html"><div>Rôle de la campagne</div></a>
							</li>
						</ul>
					</li>
					<li><a href="#"><div>Missions et Objectifs</div></a>
						<ul>
							<li><a href="#"><div>Missions</div></a>
							</li>
							<li><a href="widgets.html"><div>Objectifs</div></a>
							</li>
						</ul>
					</li>
					<li><a href="#"><div>Campagne Rabat ville sans enfant en situation de rue</div></a>
					</li>
					<li><a href="#"><div>Partenaires</div></a>
						<ul>
							<li><a href="#"><div>Unicef</div></a>
							</li>
							<li><a href="#"><div>Gouvernement du Maroc</div></a>
							</li>
							<li><a href="#"><div>CGLU Afrique</div></a>
							</li>
							<li><a href="#"><div>Villes adhérentes</div></a>
							</li>
						</ul>
					</li>
					<li><a href="#"><div>Médiathèque</div></a>
					</li>
					<li><a href="#"><div>Documentation</div></a>
					</li>
					<li><a href="shop.html"><div>Contact</div></a>
						<ul>
							<li><a href="#"><div>Contact par formulaire</div></a>
							</li>
							<li><a href="#"><div>Tél/Fax</div></a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>