<header id="header" class="full-header">
	<div id="header-wrap">
		<div class="container clearfix">
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="{{asset('front/images/logo ONDE 2 3-3 126x100.png')}}" alt="Canvas Logo"></a>
				<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="{{asset('front/images/logo ONDE 2 3-3 250x200.png')}}" alt="Canvas Logo"></a>
			</div>
			<nav id="primary-menu">
				<ul>
					<li><a href="index.html"><div>Présentation</div></a>
						<ul>
							<li><a href="index-corporate.html"><div>Méssage Royal adressé Au Congrès 1994</div></a>
							</li>
							<li><a href="index-portfolio.html"><div>Présentation par son ALTESSE ROYALE LA PRINCESSE LALLA MERYEM</div></a>
							</li>
							<li><a href="index-blog.html"><div>Présentation du congrès national des droits de l'enfant</div></a>
							</li>
						</ul>
					</li>
					<li><a href="#"><div>Missions et Réalisations</div></a>
						<ul>
							<li><a href="#"><div>Missions et rôle du congrès national des droits de l'enfant</div></a>
							</li>
							<li><a href="widgets.html"><div>Réalisations et Historique</div></a>
							</li>
						</ul>
					</li>
					<li><a href="#"><div>Editions</div></a>
						<ul>
							<li><a href="#"><div>Liste des éditions</div></a>
							</li>
						</ul>
					</li>
					<li><a href="#"><div>Médiathèque</div></a></li>
					<li><a href="#"><div>Documentation</div></a></li>
					<li><a href="shop.html"><div>Contact</div></a>
						<ul>
							<li><a href="#"><div>Contact par formulaire</div></a>
							</li>
							<li><a href="#"><div>Tél/Fax</div></a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>