/* Style Page Arabe */

* > .direction-ltr,
[dir="rtl"] .direction-ltr {
  direction: ltr;
  text-align: left;
}

* > .direction-ltr[class*="col-"],
[dir="rtl"] .direction-ltr[class*="col-"] {
  float: left !important;
}

* > .direction-ltr code,
[dir="rtl"] .direction-ltr code {
  opacity: 1;
}

/* -----------------------------------
BASE STYLING FOR DEMO
*/

h2 {
  text-shadow: 0 1px 3px white;
}

code {
  opacity: 0.5;
  box-shadow: 0 0 5px black;
}

[dir="rtl"] {
  direction: rtl;
  background: silver;
}

[dir="rtl"] .row [class*="col-"] {
  float: right;
}

.xs-section-padding,
.xs-header,
.xs-main {
  direction: rtl;
}
section {
  direction: ltr;
}
p{
  direction: rtl;
}
.xs-service-promo h5{
    text-align: right;
}

/* Page Accueil Arabe */

.nav-menu > li > ul > li > a > div{
  text-align: right;
}
.nav-menu>li {
  display: inline-block;
  float: right !important;
  text-align: left;
}


.xs-service-promo.box-color span {
  position: relative;
  width: 100%;
}
.xs-service-promo.box-color span .fa{
    position: absolute;
    right: 0;
    margin-top: 25px;
}
.xs-service-promo h5, .xs-service-promo p{
    text-align: right;
}
.height-img{
    height: 400px;
}
.xs-text-content{
    width: 80%;
    float: right;
}
.xs-text-content p{
    font-size: 17px;
    text-align: right;
}
.xs-text-content blockquote{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 80px;
}
.xs-mb-60, .xs-single-event{
    text-align: right;
}

.citation-direction{
    direction: ltr;   
}
.padding-section{
    padding: 0;
}

.xs-single-journal{
    text-align: right;
    height: 100%;
}
.xs-single-journal .img-article{
    height: 210px;
}
.container-logo-ar{
  right: 8vw;
}
.kids-zone-btn-ar{
  right: auto !important;
  left: 8vh;
}
.submenu-indicator{
  float: left !important;
}
.xs_nav-landscape .submenu-indicator{
  right: 15px !important;
}
